body{
    font-family: Arial,sans-serif;
}
nav{
    height: 60px;
    width: 100%;
    background: #344051;   
    position: fixed;
    
}
.logo{
    color:#fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 20%;
    float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
        
}
.menu{
    float: left;
    padding-left:20%;
    
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right:40px;
    font-size: 16px;
    text-transform: uppercase;
    -webkit-animation: topshift 0.4s ease forwards;
    -o-animation: topshift 0.4s ease forwards;
    animation: topshift 0.4s ease forwards;
    opacity: 0;
}


.main{
    width: 100%;
    height:100%;
    background:url(../image/boy.png) 90% 100%/auto 85% no-repeat  ,url(../image/bg.png) no-repeat center/cover;
  -webkit-box-shadow: 0px -20px 5px -5px rgba(0, 0, 0, 0.09) inset;
-moz-box-shadow: 0px -20px 5px -5px rgba(0, 0, 0, 0.09) inset;
box-shadow: 0px -20px 5px -5px rgba(0, 0, 0, 0.09) inset;
}
.title__container{
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
    opacity: 0;
    -webkit-animation: titlemove 1s ease forwards;
    -o-animation: titlemove 1s ease forwards;
    animation: titlemove 1s ease forwards;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s; 
    
    
}
.title__container h1 {
    font-size: 60px;
    font-weight: bold;
}
.title__container h4 {
    margin: 40px;
    font-size: 22px;
    color: #79818d;
}
.title__container input {
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    font-size: 13px;
    padding: 0px 16px;
    margin:61px 14px 0px 0px; 
}
.Inf_container{
    margin: 0px auto;
    width: 740px;
}
.Inf_container img{
display: block;
margin: 0px auto;
    -webkit-animation: show 1s;
    -o-animation: show 1s;
    animation: show 1s; 
}
.Inf h2{
    font-size: 22px;
    width: 106px;
    margin: 107px auto 31px;
    color: #263244;
    text-transform: uppercase;
    font-weight: 600;
}
.Inf{
margin: 0px auto;
}
.Inf h4{
margin: 40px
    
}
.Inf hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 70px;
    margin: 0 auto 60px;
}

.Inf input {
    height: 35px;
    border: 2px solid #6d7682;
    border-radius: 15px;
    font-size: 13px;
    padding: 2px 30px;
    background: url(../image/Dowloand.png )no-repeat 10px;
    }
.rez{
    text-align: center;
}
.skills {
    width:1100px;
    height: 520px;
    margin:0 auto;
}
.Fon{
    background: url(../image/fon.png)center/cover fixed no-repeat;
    width: 100%;
    height: 520px;
    margin-top: 97px;
}
.Fon h2{
    font-size: 22px;
    width: 150px;
    margin:105px auto 31px;
    color: #263244;
    text-transform: uppercase;
    font-weight: 600;
}
.skills hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 70px;
    margin: 0 auto 60px;
}
.skills_item{
    float: left;
    width: 215px;
    margin: 30px;
    
}
.skills_item h3{
    color: #cf7600;
    font-weight: 800;
}
.skills{
    text-align: center;
}
.case{
    text-align: center;
}
.case h2{
    font-size: 22px;
    width: 150px;
    margin:105px auto 31px;
    color: #263244;
    text-transform: uppercase;
    font-weight: 600;
}
.case h4{
    margin-bottom:25px; 
}
.client {
    width:150px;
    margin: 0px 200px 0px 370px;
    float: left;
    
    }
.proect input{
    transform: scale(1);
    margin-left: -35px;
}
.proect input:hover{
background: #db8755;
    color: white;
    
}
.proect input:active{
    transform: scale(1.1);
}
.clear{
    clear: both;
}
.proect h3{
    
    text-align: center;
}
.proect p{
    margin: 10px auto 15px;
    text-align: left;
    color: #3f495a;
}
.client2 {
    text-align: left;
    width:800px;
    margin: 0 20px  ;
    float: left;
    }
.proect h4{
    text-align: left;
    font-weight: bold;
    color: #384354;
}
.case input {
    height: 30px;
    border-radius: 6px;
    font-size: 15px;
    padding: 2px 6px;
    background:#63b5ae;
    text-align: center;
    color: #fff;
    }
.case br{
    height: 4px;
    border: none;
    background: #d17700;
    width: 70px;
    margin: 0 auto 60px;
}
.money h2{
    margin-top: 150px;  
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
     font-weight: 700;
}
.calculate{
    text-align: center;
    font-size: 16px;
    margin: 25px;
}
.calculate h3{
    text-align: left;
    padding-left:550px; 
    font-weight: 800;
    text-transform: uppercase;
}
.calculate select{
    border: 15px;
    height: 60px;
    width: 890px;
    font-size: 12px;
    margin-left:130px;
    margin-top: 15px;
    background: #eeeeee;
    border-radius: 5px;
    color: #7d7d7d;
}
}
.state hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 70px;
    margin: 0 auto 60px;
}
.mini_state{
    float: left;
    width: 150px;
    margin: 120px 0px 120px 75px;
    text-align: center;
    display: block;
}
.mini_state h3{
   font-size: 20px; 
    font-weight: 800;
    text-transform: uppercase;
    margin: 15px;
    color: #323e4f;
}
.state{
    text-align: center;
    margin: 120px auto;
    width: 100%;
    height: 520px;
    margin-top: 22px;
    
}
.state h2{
    font-size: 22px;
    width: 270px;
    margin:105px auto 32px;
    color: #263244;
    text-transform: uppercase;
    font-weight: 600;
}
.state_mini {
    margin-left: 475px;
    
}
.mini_state p{
      font-weight: 500;
    font-size: 17px;
}
.money hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 70px;
    margin: 30px auto;
}
.Fon2{
    background: url(../image/fon2.png) center/cover fixed no-repeat;
    width: 100%;
    height: 520px;
    margin-top: 97px;
}
.res{
  float: left;
    width: 300px;
    margin: 20px 300px 0 0;
    text-align: center;
    padding-left: 580px;
    font-size: 15px;
     font-weight: 700;
    text-transform: uppercase;
}
.Fon2 h2{
    font-size: 22px;
    width: 300px;
    margin:105px auto 31px;
    color: #263244;
    text-transform: uppercase;
    font-weight: 600;
}
.state hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 70px;
    margin: 0 auto;
}
.case hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 70px;
    margin: 0 auto 60px;
}
.reviews{
    text-align: center;
}
.reviews h2{
font-size: 22px;
    width: 300px;
    margin:105px auto 31px;
    color: #263244;
    text-transform: uppercase;
    font-weight: 600;
}
.reviews hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 70px;
    margin: 58px auto;
}
.reviews img{
    margin: 0px 7px;  
}
.reviews h4 {
    height: 20px;
    width: 940px;
    margin: 20px auto;   
}
.balls img{
    margin-top: 25px;
}
.kontact{
    background: url(../image/fon3.png) no-repeat;
    width: 100%;
    height: 806px;
    margin-top: 97px;
    color: #fff;
    text-align: center;
}
.kontact h2{
    font-size: 22px;
    width: 200px;
    margin:105px auto 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
.kontact hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 70px;
    margin: 58px auto;
}
.info{
  float: left;
    width: px;
    margin: 10px;
    text-align: center;
    padding-left: 100px;
    font-size: 15px;
    font-weight:15px;
    text-transform: uppercase;
}
.inf{
    margin-left: 425px;
    margin-top: 40px;
    margin-bottom: 55px;
}
.info h4{ 
margin: 15px auto;
}
.messeage h3{
    text-align: center;
   
}
.messeage textarea{
    height: 95px;
    width: 750px;
}
.messeage input{
    width: 350px;
    height: 35px;
    margin: 35px 23px 20px 23px; 
}
.social{
   float: left;
    margin: 109px 20px 35px 34px;
}
.social1{
    margin-left: 720px;
    
}
.bottom{
background:  url(../image/bottom.png) no-repeat;
height: 96px;
    width:100% ;
    text-align: center;
    color: #fff;
    font-size: 10px;
} 
.menu li a{
    transition: all 0.2s;
    color: white;
    transform: scale(1);
    display: inline-block;
}
.menu li a:visited{
    color: white;
    
}
.menu li a:hover{
    color: #e39f45;
    }
.menu li a:active{
    transform: scale(1.1);

}
.main{
    width: 100%;
    height: 970px;  
}
.title__container input{
    transition: all 0.2s;
    transform: scale(1);
}

.title__container input:hover{
 background: #344b6b;
    color: white;
   
}
.title__container input:active{
    transform: scale(1.1);
}
@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}
@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left:404px;
    }
}
@keyframes show{
    from{
        margin-left: -1000px;
    }
    to{
        margin-left: 36.5%;
    }
}
.rez input{
    transition: all 0.2s;
    transform: scale(1);
}

.rez input:hover{
     color: coral;
   
}
.rez input:active{
    transform: scale(1.1);
}
.skills_item{
    transform: scale(1, 1);
}
.skills_item:hover {
  transform: scale(2, 2);
    transition: all 0.6s;
}
.social{
    transform: scale(1, 1);
}
.social:hover {
  transform: scale(2, 2);
    transition: all 0.6s;
}